a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: "Manrope";
}

.important{
    color: #A5B4FC;
}

h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: "Montserrat";
}

p{
    font-size: 1.1em;
    font-family: "Manrope";
}

ul{
    font-size: 1em;
    font-family: "Manrope";
}

div{
    background-color: white;

}

div a{
    color: #242424;
}

body{
    background-color: #1F2039;
}

p , h2 , ul{
    color: #F9F8FF;
}