a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: "Manrope";
}

.important{
    color: #A5B4FC;
}

h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: "Montserrat";
}

p{
    font-size: 1.1em;
    font-family: "Manrope";
}

ul{
    font-size: 1em;
    font-family: "Manrope";
}

.divhaut, .divbas{
    background-color: white;

}

div a{
    color: #242424;
}

body{
    background-color: #1F2039;
}

p , h2 , ul{
    color: #F9F8FF;
}

.cta{
  background: linear-gradient(#8e86b5, #acaeed);
  font-family: "Manrope";
  color: white;
  border-radius: 50px;
}

.cta:hover{
    background: linear-gradient(#696484,#8788BA);
}

.paracomp-box{
    border-left: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
}

.divhaut:hover,.divbas:hover{
    opacity: 0.5;
}